
    <!-- 底部
    ================================================== -->
    <div class="footer">
      <div class="container">
          <p>版权所有:天津快E车盟 2014-2015 All Right Reserved <br>备案号：天津ICP备******号
		  本站由 <strong> <a href="http://www.zwin.mobi">天津智易时代科技发展有限公司 </a></strong> 提供技术支持  </p>
      </div>
    </div>

<include file="Public/var"/>
<block name="script"></block> <!-- 用于加载js代码 -->
<!-- 页面footer钩子，一般用于加载插件JS文件和JS代码 -->

<div class="hidden"><!-- 用于加载统计代码等隐藏元素 -->
	<block name="hidden">


	<p><strong> <a href="http://www.zwin.mobi">天津智易时代科技发展有限公司 </a></strong> 提供技术支持  </p>
	<p><strong> <a href="http://www.zwinsoft.com">天津智易时代科技发展有限公司 </a></strong> 提供技术支持  </p>
	<p><strong> <a href="http://www.17qunawan.com" alt="去哪玩景点门票">去哪玩景点门票 </a></strong> 提供服务  </p>

	</block>
</div>
