
    <!-- 底部
    ================================================== -->
    <div class="footer">
      <div class="container">
          <p>版权所有:天津市快E车盟远程定损系统 2014-2015 All Right Reserved <br>备案号：天津ICP备******号
		  <!-- 本站由 <strong> <a href="http://www.zwinsoft.com">天津智易时代科技发展有限公司 </a></strong> 提供技术支持  ?--></p>
      </div>
    </div>

<include file="Public/var"/>
<block name="script"></block> <!-- 用于加载js代码 -->
<!-- 页面footer钩子，一般用于加载插件JS文件和JS代码 -->

<div class="hidden"><!-- 用于加载统计代码等隐藏元素 -->
	<block name="hidden">
	<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_5852020'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s5.cnzz.com/stat.php%3Fid%3D5852020%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
	<p><strong> <a href="http://www.zwin.mobi">天津智易时代科技发展有限公司 </a></strong> 提供技术支持  </p>
	<p><strong> <a href="http://www.zwinsoft.com">天津智易时代科技发展有限公司 </a></strong> 提供技术支持  </p>
	<p><strong> <a href="http://www.17qunawan.com" alt="去哪玩景点门票">去哪玩景点门票 </a></strong> 提供服务  </p>
	</block>
</div>
<script language="javascript">
var qqFloatObj={
	color : '#0074cc',//百变由我 颜色自由定义 推荐 #000 #CCC #C30202 #48ff00
	openTitle :"客服中心",//关闭后右侧的浮动提示窗的题目
	closeTitle :"联<br/>系<br/>我<br/>们",//qq浮动窗口的题目
	style:"right:0px; top:150px;position: absolute;",//这里是css定义浮动窗口的位置，顶部距离
	width:"width:175px;",//这里定义浮动窗口的宽度
	qqstyle:7,//貌似1-9这里就是qq在线图片的显示样式
	isOpen:true, //默认展开：true,默认收缩：false
	other:"电话:<br />58785818转8022<br />QQ群：<br/>59166411",//这里可以编辑html
	qqlist:"客服QQ：|349902328" //多个qq用,隔开,QQ和客服名用|隔开
};
</script>
<script src="__STATIC__/js/qqFloatWin1.0.js" type="text/javascript"></script>


