
<extend name="Base/common"/>

<block name="HeaderScript">
	<script type="text/javascript" src="__STATIC__/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
	<script type="text/javascript" src="__STATIC__/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
	<script type="text/javascript" src="__STATIC__/js/jsAddress.js" charset="UTF-8"></script>
	<script>

			
    function saveReview()
    {
    	if(confirm('确定导出评审结果到PDF文档？'))
    	{
			$.ajax({
				type: "post",
				url: "{:U('Data/saveReview')}",
				
				beforeSend: function(XMLHttpRequest){
					$("#prg").modal({
						backdrop:true,
						keyboard:true,
						show:true
					});
				},
				success: function(data, textStatus){
					if(data["status"] == 1)
					{
						alert("导出评审结果失败,请重试。");
					}
					else
					{
						window.open(data["file"]);
						//alert(data["file"]);
						}	
					
				},
				complete: function(XMLHttpRequest, textStatus){
					$("#prg").modal('hide');
				},
				error: function(){
					alert('生成PDF文档错误，请刷新页面之后重试');
				}
			});
			
    	}
	}
    
    </script>
    
</block>


<block name="body">
<div class="modal hide fade" id='prg'>
	<div class="modal-body">
		文档处理中... 请稍候...
	</div>
</div>

<div class="row mainContent">
	<include file="Public/left"/>
	<div class="span7">
		<!--start-->
		<fieldset>
			<legend>汇总统计 </legend>
		<div style = "text-align:right;">
		<input type="button"  onclick="saveReview()" class="btn btn-small btn-success btn-block" value="导出所有评审结果"></div>
		

		<table class="table table-bordered table-striped ">
			<tr>
				<td>序号</td>
				<td>企业名称</td>						
				<td>项目名称</td>
				<td>专家评审结果</td>
				<td>结论</td>
				<td>操作</td>
				
			</tr>
			
			<?php $n=0;?>
			<foreach name="data" item="vo" >
			<?php $n=$n+1;?>
			<tr>
				<td>{$all-$n-(($page-1)*$pagenumber)+1}</td>
				<td>{$vo.company}</td>
			
				<td>{$vo.project.name}	</td>
				
				<td>
					<?php $reviewyes=0;$reviewno=0;?>
					<foreach name="vo.review" item="review" >
					   
						<if condition="$review.isSubmit eq 1" >
							<if condition="$review.value1 eq 1" >
							建议立项:{$review.memo1}</br>
							<?php $reviewyes=$reviewyes+1;?>
							</if>

							<if condition="$review.value1 eq 0" >
							不建议立项:{$review.memo1}</br>
							<?php $reviewno=$reviewno+1;?>
							</if>
						</if>

					</foreach>
					
				</td>
					
				<td>
					<?php if($reviewyes>=2){echo("通过");}?>
					<?php if($reviewno>=2){echo("不通过");}?>
				</td>

				<td>
					
					<a href="#history{$vo.id}" data-toggle="modal" class="btn btn-small btn-warning" >查看历史</a>
					
					<div id="history{$vo.id}" class="modal hide fade" style="display:none;">
						<div class="modal-header">
					      <a class="close" data-dismiss="modal">×</a>
					      <h3>操作历史记录</h3>
					    </div>
					    <div class="modal-body">
							<ul>
								<foreach name="vo.history" item="history">
								<li>{$history.createTime} {$history.message}</li>
								</foreach>
							</ul>
						</div>
						<div class="modal-footer">
					      <a href="#" class="btn" data-dismiss="modal">关闭</a>
					      
					   </div>
					</div> 


				</td>
			</tr>
			</foreach>
			
			
		</table>
		<div style="width:100%;text-align:right;">
		<?php?>
		<div class="pagination pagination-right">
            <ul>
                <li><a href="__SELF__&st={$Think.get.st}&et={$Think.get.et}&comp={$Think.get.comp}&status={$Think.get.status}&page=1"><i class="icon-fast-backward"></i></a></li>
                <li class="<?php echo ($page==1 || !isset($page))?"disabled":"";?>"><a href="__SELF__&st={$Think.get.st}&et={$Think.get.et}&comp={$Think.get.comp}&status={$Think.get.status}&page={$page-1}">前一页</a></li>
				
                
                <li class="<?php echo $page==($maxpage-1)?"disabled":"";?>"><a href="__SELF__&st={$Think.get.st}&et={$Think.get.et}&comp={$Think.get.comp}&status={$Think.get.status}&page={$page+1}">下一页</a></li>
                <li><a href="__SELF__&st={$Think.get.st}&et={$Think.get.et}&comp={$Think.get.comp}&status={$Think.get.status}&page={$maxpage-1}"><i class="icon-fast-forward"></i></a></li>
                <li>
					<select class="input-small" style="line-height:34px;height:36px;" onchange="location.href='__SELF__&st={$Think.get.st}&et={$Think.get.et}&comp={$Think.get.comp}&status={$Think.get.status}&page='+this.value">
					<for start="1" end="$maxpage" step="1" name="n">
						<if condition="$page eq $n ">
							<option value="{$n}" selected>第{$n}页</option>
						<else />
						  <option value="{$n}" >第{$n}页</option>
						</if>
					
					</for>
					</select>
				</li>
            </ul>
        </div>
			
		</div>
		<!--end-->
	</div>
</div>
</block>

