<extend name="Base/common"/>

<block name="HeaderScript">
<script type="text/javascript" src="__STATIC__/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="__STATIC__/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

    <script>

	 $(function(){
	 	$('.form_date').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
				autoclose: 1,
				todayHighlight: 1,
				startView: 2,
				minView: 2,
				forceParse: 0
    	});
	 	
	 });

		function check()
		{
			var isgo=true;
			$("input[type=text]").each(function(){
				if($(this).val()=="" && isgo && $(this).attr("data-name") !=undefined)
				{
					alert($(this).attr("data-name")+" 不能为空");
					$(this).focus();
					isgo=false;
					return;
				}
			});
			if(!isgo)
			{return false;}
			
			return isgo;
}
	</script>
</block>

<block name="body">
<div class="row mainContent">
	<include file="Public/left"/>
	<div class="span7">
		<div id="home" class="tab-pane fade active in">
			<fieldset>
				<form method="post" action="__SELF__" onsubmit="return check()" id="frmall"> 
				<input type="hidden" name="id" value="{$Think.session.user_id}" readonly />

				<legend>附表5、长短投资明细(单位：万元)</legend>
				<table class="table table-bordered table-condensed">
					
					<tr>					
						<td>序号</td>
						<td>投资项目</td>
						<td>投资时间</td>
						<td>投资金额(万元)</td>
						<td>累计投资收益(万元)</td>
						
					</tr>
					<tr>
						
						<td>1</td>
						<td><input type="text" class="input-medium" data-name="投资项目" name="touzixiangmuT1" value="{$vo.touzixiangmuT1}"  class="input-large" id="name" placeholder=""></td>
						<td>
							<div class="controls  input-append date form_date createTime" data-date="" data-date-format="yyyy-mm-dd" data-link-field="createTime" data-link-format="yyyy-mm-dd">
								<input size="16" type="text" class="input-medium" value="{$vo.touzishijianT1|substr=0,10}" name="touzishijianT1" id="touzishijianT1" placeholder="单击选择时间"> 
								<span class="add-on"><i class="icon-remove"></i></span>
													<span class="add-on"><i class="icon-th"></i></span>
													<font color="red">*</font>
							</div>
							<input type="hidden" id="createTime" value="{$vo.touzishijianT1}" name="buildTime"/>
						
						</td>
						<td><input type="text" class="input-small" data-name="投资金额(万元)" name="touzijineT1" value="{$vo.touzijineT1}"  class="input-large" id="name" placeholder=""></td>
						<td><input type="text" class="input-small" data-name="累计投资收益(万元)" name="touzishouyiT1" value="{$vo.touzishouyiT1}"  class="input-large" id="name" placeholder=""></td>
						
					</tr>
					<tr>
						
						<td>2</td>
						<td><input type="text" class="input-medium" data-name="投资项目" name="touzixiangmuT2" value="{$vo.touzixiangmuT2}"  class="input-large" id="name" placeholder=""></td>
						<td>
						
						<div class="controls  input-append date form_date createTime1" data-date="" data-date-format="yyyy-mm-dd" data-link-field="createTime1" data-link-format="yyyy-mm-dd">
								<input size="16" type="text" class="input-medium"  value="{$vo.touzishijianT2|substr=0,10}" name="touzishijianT2" id="touzishijianT2" placeholder="单击选择时间">
								<span class="add-on"><i class="icon-remove"></i></span>
													<span class="add-on"><i class="icon-th"></i></span>
													<font color="red">*</font>
							</div>
							<input type="hidden" id="createTime1" value="{$vo.touzishijianT2}" name="buildTime"/>
						</td>
						<td><input type="text" class="input-small" data-name="投资金额(万元)" name="touzijineT2" value="{$vo.touzijineT2}"  class="input-large" id="name" placeholder=""></td>
						<td><input type="text" class="input-small" data-name="累计投资收益(万元)" name="touzishouyiT2" value="{$vo.touzishouyiT2}"  class="input-large" id="name" placeholder=""></td>
						
					</tr>
					<tr>
						
						<td>3</td>
						<td><input type="text" class="input-medium" data-name="投资项目" name="touzixiangmuT3" value="{$vo.touzixiangmuT3}"  class="input-large" id="name" placeholder=""></td>
						<td>
						
							<div class="controls  input-append date form_date createTime2" data-date="" data-date-format="yyyy-mm-dd" data-link-field="createTime2" data-link-format="yyyy-mm-dd">
								<input size="16" type="text" class="input-medium"  id="touzishijianT3" value="{$vo.touzishijianT3|substr=0,10}" >
								<span class="add-on"><i class="icon-remove"></i></span>
													<span class="add-on"><i class="icon-th"></i></span>
													<font color="red">*</font>
							</div>
							<input type="hidden" id="createTime2" value="{$vo.touzishijianT3}" name="touzishijianT3"/>
						</td>
						<td><input type="text" class="input-small" data-name="投资金额(万元)" name="touzijineT3" value="{$vo.touzijineT3}"  class="input-large" id="name" placeholder=""></td>
						<td><input type="text" class="input-small" data-name="累计投资收益(万元)" name="touzishouyiT3" value="{$vo.touzishouyiT3}"  class="input-large" id="name" placeholder=""></td>
						
					</tr>

		
				</table>			



				<if condition="($data.status eq 4) OR ($data.status eq 5) ">
				<input type="button" class="btn btn-large btn-primary btn-block" onclick="onnext('0')" value=" 保 存 ">
				 
				<input type="button" class="btn btn-large btn-success btn-block" onclick="onnext('1')" value=" 提 交 并 且 下一步">
				<input type="hidden" name="isnext" id="isnext" value="0">
				<script>
				function onnext(w)
				{
					$('#isnext').val(w);
					gdCnt=0;
					action="save";
					if($("button[name=gdSave]").length>0)
					{
						$("button[name=gdSave]").each(function(){
							$(this).click();
						})
					}else
					{
							recall();
					}
				}
				function recall()
				{
					if(gdCnt==$("button[name=gdSave]").length)
					{
						if(action=="save")
						{
							if(check())
							{
								$('#frmall')[0].submit();
							}
						}else if(action!="0")
						{
							delinfo1(action)
						}else
						{
							add1();
						}
					}
				}
				</script>
					</if>
					</form>
					</fieldset>
				</div>
	</div>
</div>
</block>
